// _layout.scss

body {
  background: $grey-x-light;
  font-family: $open-sans;
  padding: 0;
}

h1 {
  font-size: 2em;
}

img {
  max-width: 100%;
  height: auto !important;
}

input, button, select, textarea {
  color: $grey-med;
}

.red {
  color: #ff0000;
  font-weight: $normal;
}

.padding-none {
  padding: 0 !important;
}

.padding-sm {
  padding: 5px !important;
}

.page {
  margin-top: 200px;
  position: relative;
  z-index: 100;
}

.header, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background: $grey-x-light url(../images/header-bkg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.5s linear all;
  
  &.lg {
  	height: auto;
  }
  
  &.sm {
  	height: auto;
  }
  
  h3 {
  	margin-top: 0;
  	margin-bottom: 0;
  	line-height: 40px;
  	padding-bottom: 19px;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  color: $black;
  font-style: italic;
  font-weight: $bold;
}

.navbar-default .navbar-nav > li {
  > a:hover, &.active > a:hover {
    color: $white;
    background-color: $black;
  }
}

.logo {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  
  img {
    transition: 0.5s linear all;
  }
}

.logo-lg {
  width: 385px;
}

.logo-sm {
  width: 180px;
}

.video-bg {
  display: block;
  width: 100%;
  height: 660px;
  position: fixed !important;
  bottom: 0;
  background-size: cover;
  margin-top: 140px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  position: relative;
  color: $white;
  font-size: 11px;
  border-top: 1px solid #e5e5e5;
  background-color: trans-black(0.7);
  z-index: 100;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Jumbotron */

.jumbotron {
  color: $white;
  border-bottom: 1px solid #e5e5e5;
  background-color: trans-black(0.6);
  padding: 28px 15px;
  position: relative;
  text-align: center;
  
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  
  p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: $light;
  }
  
  .upcoming h3 {
    font-size: 1.8em;
    margin-top: 0;
    text-transform: uppercase;
    
    img {
    	display: block;
      margin: 0 auto;
    }
  }
}

.content {
  background-color: trans-black(0.6);
  color: $white;
  padding: 10px;
  font-size: 1.3em;
  text-align: left;
}

.race-result, .driver-result {
  background: trans-black(0.5) none repeat scroll 0 0;
  color: $white;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

.race-result {
  text-align: center;
  
  table {
    text-align: left;
  }
  
  a {
    display: block;
    color: $white;
    text-decoration: none;
    
    &:hover {
      display: block;
      color: $white;
      text-decoration: none;
    }
  }
  
  .hover-msg {
    background: trans-black(0.8) url(../images/arrow-icon.png) no-repeat 50% 50%;
    color: $white;
    font-size: 1.6em;
    padding: 1em;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 100;
    
    p {
      margin: 0;
      line-height: 1em;
    }
  }
}

.page-main .race-result:hover {
  background-color: $black;
  box-shadow: inset 0 3px 3px trans-black(0.075), 0 0 20px rgba(82, 168, 236, 0.7);
}

.race-date-round, .race-header, .race-circuit-flag, .race-circuit {
  display: block;
}

.race-round {
  font-size: 1.2em;
  font-weight: $bold;
  text-transform: uppercase;
}

.race-date {
  font-size: 0.95em;
  font-weight: $normal;
}

.race-date-round {
  margin: 0 auto;
}

.race-circuit {
  margin-right: 0;
}

.race-circuit-flag {
  width: 35px;
  padding: 0;
  margin: 0 auto;
}

h3.race-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: $bold;
}

.race-circuit-name {
  font-size: 0.8em;
  font-weight: $normal;
}

.race-winner {
  display: inline-block;
  vertical-align: middle;
}

.p1-driver {
  width: 65px;
}

.p1-driver-sm, .driver-sm {
  max-width: 30px;
}

.p1-constructor-sm, .constructor-sm {
  width: 100px;
}

.p1-constructor {
  max-width: 350px;
}

.race-circuit-map {
  display: inline-block;
  vertical-align: middle;
}

.race-circuit-map-sm {
  @extend .race-circuit-map;
  width: 80px;
}

.race-circuit-map h4 {
  font-size: 14px;
}

.circuit {
  padding: 10px;
  margin-bottom: 10px;
  background-color: trans-black(0.5);
  border-radius: 20px;
  
  a {
    text-decoration: none;
  }
  
  &:hover {
    background-color: trans-black(0.9);
  }
}

.circuit-map {
  text-align: center;
}

.circuit-flag {
  text-align: center;
  margin: 0;
}

.circuit-title {
  height: 6em;
  overflow: hidden;
  text-align: center;
  
  h4 {
    color: $white;
    font-size: 1.2em;
    text-align: center;
    height: 2em;
    font-weight: $bold;
    overflow: hidden;
  }
  
  span {
    color: $white;
  }
}

#areaMap, #addressMap {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.driver, .constructor {
  text-align: center;
}

.driver-img, .constructor-img {
  padding: 5px;
}

.driver a, .constructor a {
  color: $white;
  font-size: 1.2em;
}

.driver-bio-img {
  max-width: 400px;
  float: none;
  margin: 0 0 20px 0;
}

.driver-title a, .constructor-title a {
  display: block;
  font-size: 1.1em !important;
  margin: 10px 0;
}

.driver-stats .stat, .constructor-stats .stat {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.driver-stats .stat {
  small, strong {
    display: block;
  }
}

.constructor-stats .stat {
  small, strong {
    display: block;
  }
}

.driver-constructor {
  max-width: 300px;
  margin: 0 auto;
}

.race-photos li {
  max-width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #666;
}


// Styles for desktop version
@media screen and (min-width: 768px) {
  
  .navbar {
    margin-bottom: 0;
    border: 1px solid #eee;
  }
  
  .page {
    margin-top: 220px;
  }

  .header {
    background-size: 100%;
    margin-bottom: 5px;
	  
	  &.lg {
	    height: 180px;
	  }
	  
	  &.sm {
	    height: 120px;
	  }
	}

	.container .jumbotron {
    	border-bottom: 0;
      padding-left: 30px;
      padding-right: 30px;
      max-width: 760px;
    	position: relative;
      
      p {
      	font-size: 21px;
      }
      
      .upcoming h3 {
        font-size: 1.8em;
        margin-top: 0;
        text-transform: uppercase;
        
        img {
        	display: inline;
          width: 40px;
          margin: 0;
        }
      }
    }
  }

  .container-fluid .jumbotron {
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    margin-bottom: 15px;
  }
  
  .content {
    font-size: 1em;
    min-height: 600px;
    padding: 30px;
  }

  .cnt-time-unit {
    font-size: 3.4em;
    margin-right: 20px;
  }

  .race-date-round, .race-header, .race-circuit-flag, .race-circuit {
    display: inline-block;
    vertical-align: middle;
  }

  .race-date-round {
    max-width: 95px;
    text-align: left;
  }

  .race-header > div {
    text-align: left;
  }

  .race-circuit-flag {
    margin: 0 15px 0 15px;
  }

  .race-circuit {
    margin-right: 20px;
  }

  .race-circuit-name {
    font-size: 1em;
  }

  .race-circuit-map-sm {
    width: 80px;
    position: absolute;
    right: 10px;
    top: 0;
  }

  .race-circuit-map h4 {
    font-size: 18px;
  }

  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .race-result {
    text-align: left;
    .hover-msg {
      background-position: 95% 50%;
    }
  }

  .driver-bio-img {
    max-width: 300px;
    float: left;
    margin: 0 20px 10px 0;
  }
}