// _layout-mobile.scss
//
// Contains styles pertaining to the mobile layout

.container {
	max-width: 760px;
}

// Generic page style
.page {
  margin-top: 200px;
  position: relative;
  z-index: 100;
}

.header, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

// Custom page header
.header {
  background: $grey-x-light url(../images/header-bkg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.5s linear all;

  &.lg {
  	height: auto;
  }

  &.sm {
  	height: auto;
  }

  h3 {
  	margin-top: 0;
  	margin-bottom: 0;
  	line-height: 40px;
  	padding-bottom: 19px;
  }
}

.navbar {
  margin-bottom: 0;
}

// Navbar styles
.navbar-brand {
  color: $black;
  font-style: italic;
  font-weight: $bold;
}

.navbar-default .navbar-nav > li {
  > a:hover, &.active > a:hover {
    color: $white;
    background-color: $black;
  }
}

// Logo styles
.logo {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;

  img {
    transition: 0.5s linear all;
  }
}

.logo-lg {
  width: 385px;
}

.logo-sm {
  width: 180px;
}

// Style for the video page background
.video-bg {
  display: block;
  width: 100%;
  height: 660px;
  position: fixed !important;
  bottom: 0;
  background-size: cover;
  margin-top: 140px;
}

// Page footer
.footer {
  padding-top: 19px;
  position: relative;
  color: $white;
  font-size: 11px;
  border-top: 1px solid #e5e5e5;
  background-color: trans-black(0.7);
  z-index: 100;
}

.container-narrow > hr {
  margin: 30px 0;
}

// Jumbotron - contains the Upcoming and Countdown blocks
// for upcoming race
.jumbotron {
  color: $white;
  border-bottom: 1px solid #e5e5e5;
  background-color: trans-black(0.6);
  padding: 28px 15px;
  position: relative;
  text-align: center;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: $light;
  }

  .upcoming h3 {
    font-size: 1.8em;
    margin-top: 0;
    text-transform: uppercase;

    img {
    	display: block;
      margin: 0 auto;
    }
  }
}

.cnt-time-unit {
  display: inline-block;
  font-size: 2.8em;
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: middle;
}

.cnt-time-unit span {
  display: block;
  font-size: 0.3em;
  font-weight: normal;
}

// Generic content styling
.content {
  background-color: trans-black(0.6);
  color: $white;
  padding: 10px;
  font-size: 1.3em;
  text-align: left;
}

// Styles for race results and driver list
.race-result, .driver-result {
  background: trans-black(0.5) none repeat scroll 0 0;
  color: $white;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

// Race result styling
.race-result {
  text-align: center;

  table {
    text-align: left;
  }

  a {
    display: block;
    color: $white;
    text-decoration: none;

    &:hover {
      display: block;
      color: $white;
      text-decoration: none;
    }
  }
  // Style for the message when hovering over a race result
  .hover-msg {
    background: trans-black(0.8) url(../images/arrow-icon.png) no-repeat 50% 50%;
    color: $white;
    font-size: 1.6em;
    padding: 1em;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 100;

    p {
      margin: 0;
      line-height: 1em;
    }
  }
}

.page-main .race-result:hover {
  background-color: $black;
  box-shadow: inset 0 3px 3px trans-black(0.075), 0 0 20px rgba(82, 168, 236, 0.7);
}

.race-date-round, .race-header, .race-circuit-flag, .race-circuit {
  display: block;
}

.race-round {
  font-size: 1.2em;
  font-weight: $bold;
  text-transform: uppercase;
}

.race-date {
  font-size: 0.95em;
  font-weight: $normal;
}

.race-date-round {
  margin: 0 auto;
}

.race-circuit {
  margin-right: 0;
}

.race-circuit-flag {
  width: 35px;
  padding: 0;
  margin: 0 auto;
}

h3.race-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: $bold;
}

.race-circuit-name {
  font-size: 0.8em;
  font-weight: $normal;
}

.race-winner {
  display: inline-block;
  vertical-align: middle;
}

// Separate style for the winning driver based on the P1 position
.p1-driver {
  width: 65px;
}

.p1-driver-sm, .driver-sm {
  max-width: 30px;
}

.p1-constructor-sm, .constructor-sm {
  width: 100px;
}

.p1-constructor {
  max-width: 350px;
}

// Race circuit styling
.race-circuit-map {
  display: inline-block;
  vertical-align: middle;
}

.race-circuit-map-sm {
  @extend .race-circuit-map;
  width: 80px;
}

.race-circuit-map h4 {
  font-size: 14px;
}

// Circuit container
.circuit {
  padding: 10px;
  margin-bottom: 10px;
  background-color: trans-black(0.5);
  border-radius: 20px;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: trans-black(0.9);
  }
}

.circuit-map {
  text-align: center;
}

.circuit-map img {
	height: 200px !important;
}

.circuit-flag {
  text-align: center;
  margin: 0;
}

.circuit-title {
  height: 6em;
  overflow: hidden;
  text-align: center;

  h4 {
    color: $white;
    font-size: 1.2em;
    text-align: center;
    height: 2em;
    font-weight: $bold;
    overflow: hidden;
  }

  span {
    color: $white;
  }
}

#areaMap, #addressMap {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

// Driver and constructor styles
.driver, .constructor {
  text-align: center;
}

.driver-img, .constructor-img {
  padding: 5px;
}

.driver a, .constructor a {
  color: $white;
  font-size: 1.2em;
}

.driver-bio-img {
  max-width: 400px;
  float: none;
  margin: 0 0 20px 0;
}

.driver-title a, .constructor-title a {
  display: block;
  font-size: 1.1em !important;
  margin: 10px 0;
}

.driver-stats .stat, .constructor-stats .stat {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.driver-stats .stat {
  small, strong {
    display: block;
  }
}

.constructor-stats .stat {
  small, strong {
    display: block;
  }
}

.driver-constructor {
  max-width: 300px;
  margin: 0 auto;
}

.race-photos li {
  max-width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #666;
}
