.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #eee;
  font-family: "Open Sans", Arial, helvetica, sans-serif;
  padding: 0;
}

.page {
  margin-top: 200px;
  position: relative;
  z-index: 100;
}

h1 {
  font-size: 32px;
}

img {
  max-width: 100%;
  height: auto !important;
}

input, button, select, textarea {
  color: #666;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  color: #000;
  font-style: italic;
  font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a:hover {
  color: #fff;
  background-color: #000;
}

.red {
  color: #ff0000;
  font-weight: 300;
}

.padding-sm {
  padding: 5px !important;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;  
}

.logo img {
  -webkit-transition:0.5s linear all;
   -moz-transition:0.5s linear all;
   -o-transition:0.5s linear all;
   transition:0.5s linear all;
}

.logo-lg {
  width: 385px;
}

.logo-sm {
  width: 160px;
}

.video-bg {
  display: block;
  width:100%; 
  height: 660px; 
  position:fixed !important; 
  bottom: 0;
  background-size: cover;
  margin-top:140px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background: #eee url(../images/header-bkg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-bottom: 1px solid #e5e5e5;
  /*height: 220px;*/
  margin-bottom: 10px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  -webkit-transition:0.5s linear all;
   -moz-transition:0.5s linear all;
   -o-transition:0.5s linear all;
   transition:0.5s linear all;
}

.header-lg {
  height: auto;
}

.header-sm {
  height: auto;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  position: relative;
  color: #fff;
  font-size: 11px;
  border-top: 1px solid #e5e5e5;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 200;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* F1 App Styles */

.container .jumbotron, 
.container-fluid .jumbotron, 
.content {
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 15px;
  text-align: center;
  padding-right: 15px;
  position: relative;
}

.jumbotron {
  padding-bottom: 28px;
  padding-top: 28px;
}

.content {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  font-size: 1.3em;
  text-align: left;
}

.upcoming {
  color: #fff;
}

.upcoming h3 {
  font-size: 1.4em;
  margin-top: 0;
  text-transform: uppercase;
}

.upcoming h3 img {
  width: 25px;
  margin: 0 auto;
}

.cnt-time-unit {
  display: inline-block;
  font-size: 2.8em;
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: middle;
}

.cnt-time-unit span {
  display: block;
  font-size: 0.3em;
  font-weight: normal;
}

.filter-years,
.filter-race-title {
  display: inline-block;
  vertical-align: middle;
}

.race-result,
.driver-result {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

.race-result {
  text-align: center;
}

.race-result table {
  text-align: left;
}

.race-result a,
.race-result a:hover {
  display: block;
  color: #fff;
  text-decoration: none;
}

.page-main .race-result:hover {
  background-color: #000;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 20px rgba(82,168,236,0.7);
  -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 20px rgba(82,168,236,0.7);
  box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 20px rgba(82,168,236,0.7);
}

.race-result .hover-msg {
  background: rgba(0, 0, 0, 0.8) url(../images/arrow-icon.png) no-repeat 50% 50%;
  color: #fff;
  font-size: 1.6em;
  padding: 1em;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 100;
}

.race-result .hover-msg p {
  margin: 0;
  line-height: 1em;
}

.race-date-round, 
.race-header,
.race-circuit-flag, 
.race-circuit {
  display: block;
}

.race-round {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.race-date {
  font-size: 0.95em;
  font-weight: 300;
}

.race-date-round {
  margin: 0 auto;
}

.race-circuit {
  margin-right: 0;
}

.race-circuit-flag {
  width: 35px;
  padding: 0;
  margin: 0 auto;
}

h3.race-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
}

.race-circuit-name {
  font-size: 0.8em;
  font-weight: 300;
}

.race-winner {
  display: inline-block;
  vertical-align: middle;
}

.p1-driver {
  width:65px;
}

.p1-driver-sm,
.driver-sm {
  max-width:30px;
}

.p1-constructor-sm,
.constructor-sm {
  width: 100px;
}

.p1-constructor {
  max-width: 350px;
}

.race-circuit-map {
  display: inline-block;
  vertical-align: middle;
}

.race-circuit-map-sm {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
}

.race-circuit-map h4 {
  font-size: 14px;
}

.circuit {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.circuit a {
  text-decoration: none;
}

.circuit:hover {
  background-color: rgba(0,0,0,0.9);
}

.circuit-map {
  text-align: center;
}

.circuit-flag {
  text-align: center;
  margin: 0;
}

.circuit-title {
  height: 6em;
  overflow: hidden;
  text-align: center;
}

.circuit-title h4 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  height: 2em;
  font-weight: 700;
  overflow: hidden;
}

.circuit-title span {
  color: #fff;
}

#areaMap, #addressMap
{
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.driver {
  text-align: center;
}

.driver a {
  color: #fff;
  font-size: 1.2em;
}

.driver-bio-img {
  max-width: 400px;
  float: none;
  margin: 0 0 20px 0;
}

.driver-title a {
  display: block;
  font-size: 1.1em !important;
  margin: 10px 0;
}

.driver-stats .stat {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.driver-stats .stat small,
.driver-stats .stat strong {
  display: block;
}

.driver-constructor {
  max-width: 300px;
  margin: 0 auto;
}


.race-photos li {
  max-width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #666;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .page {
    margin-top: 220px;
  }

  .header {
    background-size: 100%;
  }

  .header-lg {
    height: 180px;
  }

  .header-sm {
    height: 120px;
  }

  .navbar {
    margin-bottom: 0;
    border: 1px solid #eee;
  }

  .container {
    max-width: 760px;
    position: relative;
  }

  .container .jumbotron, 
  .container-fluid .jumbotron,
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    margin-bottom: 15px;
  }

  .jumbotron p {
    font-size: 21px;
  }

  .content {
    font-size: 1em;
    min-height: 600px;
    padding: 30px;
  }

  .upcoming h3 {
    font-size: 1.8em;
    margin-top: 0;
    /*text-align: left;*/
    text-transform: uppercase;
  }

  .upcoming h3 img {
    width: 40px;
    margin: 0;
  }

  .cnt-time-unit {
    font-size: 3.4em;
    margin-right: 20px;
  }

  .race-date-round, 
  .race-header,
  .race-circuit-flag, 
  .race-circuit {
    display: inline-block;
    vertical-align: middle;
  }

  .race-date-round {
    max-width: 95px;
    text-align: left;
  }

  .race-header > div {
    text-align: left;
  }

  .race-circuit-flag {
    margin: 0 15px 0 15px;
  }

  .race-circuit {
    margin-right: 20px;
  }

  .race-circuit-name {
    font-size: 1em;
  }

  .race-circuit-map-sm {
    width: 80px;
    position: absolute;
    right: 10px;
    top: 0;
  }

  .race-circuit-map h4 {
    font-size: 18px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .race-result {
    text-align: left;
  }

  .race-result .hover-msg {
    background-position: 95% 50%;
  }

  .driver-bio-img {
    max-width: 300px;
    float: left;
    margin: 0 20px 10px 0;
  }
}

.ng-enter           { animation: scaleUp 1.0s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.3s both ease-in; z-index: 9999; }

/*.page-main.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-main.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }
*/
.page-race-result.ng-enter         { animation: slideInRight 1.0s both ease-in; z-index: 8888; }
.page-race-result.ng-leave         { animation: slideOutLeft 0.3s both ease-in; z-index: 9999; }


/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}


