<div class="row">
  	<div class="content clearfix">
	  	<h1>Current Circuits</h1>
			<div class="col-md-4 col-sm-6 padding-sm" ng-repeat="circuit in circuits">
				<div class="circuit">
					<a ng-href="#/circuits/{{circuit.circuitId}}">
						<div class="circuit-map">
							<img ng-src="images/circuits/{{circuit.circuitId}}.png" alt="{{circuit.circuitName}}">				
						</div>
						<div class="circuit-flag">
							<img ng-src="images/flags/{{circuit.Location.country}}.png" alt="{{circuit.Location.country}}">
						</div>
						<div class="circuit-title">
							<h4>{{circuit.circuitName}}</h4>
							<span>{{circuit.Location.locality}}, {{circuit.Location.country}}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
</div>