<div class="row">
  <div class="col-md-12">
    <div class="content">
      <h1>{{driver.givenName}} {{driver.familyName}}</h1>
      <div class="driver-bio-img">
        <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt="{{ photo.title }}" />
      </div>
      <div ng-bind-html="wikiData"></div>
      <!-- <a class="btn btn-primary read-more" ng-href="{{wikiUrl}}" role="button" target="_blank">Read more at WikiPedia</a> -->
    </div> 
  </div>
</div>