
<div class="jumbotron">
  <div ng-init="getNextRace()" class="upcoming">
    <h3>Next Race: <strong>Round {{nextRace.round}}<br> <img ng-src="images/flags/{{nextRace.Circuit.Location.country}}.png" alt=""> {{nextRace.season}} {{nextRace.raceName}}</strong></h3>
    <p>{{nextRace.date|date:'EEEE, MMMM d, y'}} - {{nextRace.time|date:'shortTime' : 'UTC'}}</p>
    <div class="countdown">
      <timer end-time="countdown">
        <div class="cnt-time-unit">{{days}}<span>{{days == 1 ? 'Day' : 'Days'}}</span></div> 
        <div class="cnt-time-unit">{{hours}}<span>{{hours == 1 ? 'Hour' : 'Hours'}}</span></div>
        <div class="cnt-time-unit">{{minutes}}<span>{{minutes == 1 ? 'Minute' : 'Minutes'}}</span></div> 
        <div class="cnt-time-unit">{{seconds}}<span>{{seconds == 1 ? 'Second' : 'Seconds'}}</span></div>
      </timer>
    </div>
    <div class="race-circuit-map">
      <img ng-src="images/circuits/{{nextRace.Circuit.circuitId}}.png" alt="{{nextRace.Circuit.circuitName}}">
      <h4>{{nextRace.Circuit.circuitName}}, {{nextRace.Circuit.Location.locality}}, {{nextRace.Circuit.Location.country}}</h4>
    </div>
  </div>
</div>

<!-- Race results filterable by year -->
<div class="row race-filter-block">
  <div class="col-md-12">
    <h4>Filter Races</h4>
    <div class="filter-years btn-group" role="group" aria-label="...">
      <button ng-click="getRaceResults('2015')" type="button" class="btn btn-default" ng-class="{'btn-primary' : raceseason == '2015'}">2015</button>
      <button ng-click="getRaceResults('2014')" type="button" class="btn btn-default" ng-class="{'btn-primary' : raceseason == '2014'}">2014</button>
      <button ng-click="getRaceResults('2013')" type="button" class="btn btn-default" ng-class="{'btn-primary' : raceseason == '2013'}">2013</button>
    </div>
    <div class="filter-race-title"><input type="text" ng-model="raceFilter" placeholder="Search..."/>
        <button type="button" class="btn btn-info" ng-click="clearFilter()">Clear</button></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" ng-init="getRaceResults('2015')">
    <h2>{{raceseason}} Race Results</h2>
    <ul class="list-unstyled">
      <li ng-repeat="race in raceResults | filter: searchFilter" ng-mouseenter="hover(race)" ng-mouseleave="hover(race)">
        <div class="race-result">
          <a ng-href="#/race/{{race.season}}/{{race.round}}">
            <div class="hover-msg" ng-show="hovering"><p>{{hoverMsg}}</p></div>
          </a>
          <div class="race-date-round">
            <div class="race-round">Round {{race.round}}</div> 
            <div class="race-date">{{race.date|date:'mediumDate'}}</div>
          </div>
          <div class="race-header">
            <div class="race-circuit-flag"><img ng-src="images/flags/{{race.Circuit.Location.country}}.png" alt=""></div>
            <div class="race-circuit">
              <h3 class="race-title">
                {{race.raceName | limitTo: 30}}{{race.raceName.length > 30 ? "..." : ""}}
              </h3>
              <div class="race-circuit-name">
                {{race.Circuit.circuitName + ', ' + race.Circuit.Location.locality + ', ' + race.Circuit.Location.country | limitTo: 45}}{{(race.Circuit.circuitName.length + race.Circuit.Location.locality.length + race.Circuit.Location.country.length) > 45 ? "..." : ""}}
              </div>              
            </div>
            <div class="race-winner">
              <div class="p1-driver-sm">
                <img ng-src="images/helmets/{{race.Results[0].Driver.driverId}}.png" alt="">
              </div>
              <div class="p1-constructor-sm">
                <img ng-src="images/cars/{{race.Results[0].Constructor.constructorId}}.png" alt="">
              </div>
            </div>
            <div class="race-circuit-map-sm">
              <img ng-src="images/circuits/{{race.Circuit.circuitId}}.png" alt="{{race.Circuit.circuitName}}">
            </div>
          </div> 
        </div>
      </li>
    </ul>
  </div>
</div>
