<div class="row">
  <div class="col-md-12">  
    <div class="race-result">
      <div class="race-date-round">
        <div class="race-round">Round {{raceResult.round}}</div> 
        <div class="race-date">{{raceResult.date|date:'mediumDate'}}</div>
      </div>
      <div class="race-header">
        <div class="race-circuit-flag"><img ng-src="images/flags/{{raceResult.Circuit.Location.country}}.png" alt=""></div>
        <div class="race-circuit">
          <h3 class="race-title">
            {{raceResult.raceName}}
          </h3>
          <div class="race-circuit-name">
            {{raceResult.Circuit.circuitName}}, {{raceResult.Circuit.Location.locality}}, {{raceResult.Circuit.Location.country}}
          </div>              
        </div>
      </div>
      <div class="race-winner">
        <h4>Winner: {{raceResult.Results[0].Driver.givenName}} {{raceResult.Results[0].Driver.familyName}} <img class="p1-driver" ng-src="images/helmets/{{raceResult.Results[0].Driver.driverId}}.png" alt=""></h4>
        <div class="p1-constructor">
          <img ng-src="images/cars/{{raceResult.Results[0].Constructor.constructorId}}.png" alt="">
        </div>
      </div>
      <div class="race-circuit-map">
        <img ng-src="images/circuits/{{raceResult.Circuit.circuitId}}.png" alt="{{raceResult.Circuit.circuitName}}">
      </div>

      <!-- Photos from Flick -->
      <div class="race-photos">
        <ul class="list-unstyled">
          <li ng-repeat="photo in photos" ng-if="$index < 3">
            <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg" alt="{{ photo.title }}" />
          </li>
        </ul>
      </div>

      <!-- Race results -->
      <div class="resultList">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Pos.</th>
                <th>Driver</th>
                <th>Team</th>
                <th>Grid</th>
                <th>Laps</th>
                <th>Time</th>
                <th>Status</th>
                <th>Points</th>
              </tr>
            </thead>
            <tr ng-repeat="result in raceResult.Results">
              <td>{{result.position}}</td>
              <td>
                <a ng-href="#/driver/{{result.Driver.driverId}}">
                  <img class="driver-sm" ng-src="images/helmets/{{result.Driver.driverId}}.png" alt="">&nbsp;&nbsp;
                  {{result.Driver.givenName}} {{result.Driver.familyName}}
                </a>
              </td>
              <td>
                <a ng-href="{{result.Constructor.url}}"><img class="constructor-sm" ng-src="images/cars/{{result.Constructor.constructorId}}.png" alt="{{result.Constructor.name}}" title="{{result.Constructor.name}}"></a>
              </td>
              <td>{{result.grid}}</td>
              <td>{{result.laps}}</td>
              <td>{{result.Time.time}}</td>
              <td>{{result.status}}</td>
              <td>{{result.points}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
